
<form *ngIf="!isAdd" [formGroup]="form" (ngSubmit)="submitTask()" >
    <div class="task">
        <label for="">Add Task</label>
        <input formControlName="text" type="text" name="text" id="">
    </div>
    <div class="date">
        <label for="">Add Date</label>
        <input formControlName="date"  type="text" name="date" id="">
    </div>

    <div class="reminder">
        <label for="">Reminder</label>
        <input formControlName="reminder"  type="checkbox" name="reminder" id="">
    </div>
    
    <button type="submit">Submit</button>
</form>

<app-taks-item 
(deleteEvent)="deleteTask($event)"
[tasks]="tasks"></app-taks-item>
