.container{
    padding: 8px 16px;
    margin: 8px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}

.btns{
    display: flex;
    flex-direction: column;
}

.remind{
    border-left: 10px solid green;
}

::ng-deep app-button button {
    margin: 5px;
    width: 75px;
}